.entry-content
	p Таким образом постоянный <a href="http://pstu.edu" target="_blank">PSTU</a> количественный рост и сфера нашей активности требуют от нас анализа соответствующий условий активизации. Значимость этих проблем настолько очевидна, что сложившаяся структура организации в значительной степени обуславливает создание дальнейших направлений развития.
	a( href="http://placehold.it/320x240/2ecc71/ecf0f1" ): img.alignleft(src="http://placehold.it/320x240/2ecc71/ecf0f1", alt="Пример илюстрации")
	p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет оценить значение новых предложений. Задача организации, в особенности же новая модель организационной деятельности в значительной степени обуславливает создание соответствующий условий активизации.
	blockquote Привет! Днём я курьер, а вечером — подающий надежды актёр. Это мой блог. Я живу в Ростове-на-Дону, люблю своего пса Джека и пинаколаду. (И ещё попадать под дождь.)
	iframe(width="560", height="315", src="https://www.youtube.com/embed/AYAaxTxu23E", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
	p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет оценить значение новых предложений. Задача организации, в особенности же новая модель организационной деятельности в значительной степени обуславливает создание соответствующий условий активизации.
	a( href="http://placehold.it/320x240/2ecc71/ecf0f1" ): img.alignright(src="http://placehold.it/320x240/2ecc71/ecf0f1", alt="Пример илюстрации")
	h1.bg-default Заголовок 1
	h2.bg-primary Заголовок 2
	h3.bg-success Заголовок 3
	h4 Генераторы псевдослучайных чисел:
	ul
		li Алгоритм Блюм — Блюма — Шуба
		li Вихрь Мерсенна
		li Метод Фибоначчи с запаздываниями
	h4 Алгоритмы на графах
	dl.dl-horizontal
		dt.text-default Алгоритм Беллмана
		dd вычисляет кратчайший путь во взвешенном графе (где некоторые веса рёбер могут быть отрицательны)
		//-
		dt.text-primary Алгоритм Борувки
		dd находит минимальное остовное дерево в графе
		//-
		dt.text-success Алгоритм Брона
		dd нахождение наибольших максимальных независимых по включению множеств вершин графа.
		//-
		dt.text-info Алгоритм Флойда
		dd вычисляет все кратчайшие пути во взвешенном графе
		//-
	p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет оценить значение новых предложений. Задача организации, в особенности же новая модель организационной деятельности в значительной степени обуславливает создание соответствующий условий активизации.
	hr.separeted
	table.table.table-bordered.table-striped
		caption Пример таболицы
		thead
			th.text-center.bg-info Период
			th.text-center.bg-info Предмет
			th.text-center.bg-info Оценка
		tbody
			tr
				td.text-center I
				td Алгоритмизация
				td.text-center 5
			tr
				td.text-center II
				td Численные методи
				td.text-center 4
			tr
				td.text-center III
				td Алгоритмизация
				td.text-center 5
			tr
				td.text-center IV
				td Численные методи
				td.text-center 4
	p Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет оценить значение новых предложений. Задача организации, в особенности же новая модель организационной деятельности в значительной степени обуславливает создание соответствующий условий активизации.
	.gallery( data-block-element="a" )
		a.gallery__item.item( href=src.img+'image_1.jpg' ): img.lazy( src="#" data-src=src.img+'image_1.jpg', width="200" )
		a.gallery__item.item( href=src.img+'image_2.jpg' ): img.lazy( src="#" data-src=src.img+'image_2.jpg', width="200" )
		a.gallery__item.item( href=src.img+'image_3.jpg' ): img.lazy( src="#" data-src=src.img+'image_3.jpg', width="200" )
		a.gallery__item.item( href=src.img+'image_4.jpg' ): img.lazy( src="#" data-src=src.img+'image_4.jpg', width="200" )
		a.gallery__item.item( href=src.img+'image_5.jpg' ): img.lazy( src="#" data-src=src.img+'image_5.jpg', width="200" )
		a.gallery__item.item( href=src.img+'image_6.jpg' ): img.lazy( src="#" data-src=src.img+'image_6.jpg', width="200" )
		a.gallery__item.item( href=src.img+'image_7.jpg' ): img.lazy( src="#" data-src=src.img+'image_7.jpg', width="200" )
		a.gallery__item.item( href=src.img+'image_8.jpg' ): img.lazy( src="#" data-src=src.img+'image_8.jpg', width="200" )
		a.gallery__item.item( href=src.img+'image_9.jpg' ): img.lazy( src="#" data-src=src.img+'image_9.jpg', width="200" )
		a.gallery__item.item( href=src.img+'image_10.jpg' ): img.lazy( src="#" data-src=src.img+'image_10.jpg' width="297" )
		a.gallery__item.item( href=src.img+'image_11.jpg' ): img.lazy( src="#" data-src=src.img+'image_11.jpg' width="252" )
		a.gallery__item.item( href=src.img+'image_12.jpg' ): img.lazy( src="#" data-src=src.img+'image_12.jpg' width="300" )
	ul
		li: a( href="//doc.pdf" ) Документ pdf
		li: a( href="//doc.doc" ) Документ doc 
		li: a( href="//doc.xls" ) Документ xls 
		li: a( href="//doc.csv" ) Документ csv
		li: a( href="//doc.mp3" ) Документ mp3
		li: a( href="//doc.rar" ) Документ rar
		li: a( href="//doc.zip" ) Документ zip
		li: a( href="//doc.odt" ) Документ odt
		li: a( href="//doc.txt" ) Документ txt
		li: a( href="//doc.psd" ) Документ psd
		li: a( href="//doc.rtf" ) Документ rtf
		li: a( href="//doc.dwg" ) Документ dwg
	hr.separeted
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum aliquid autem harum obcaecati dolore molestiae minima quasi quaerat, quisquam consequatur praesentium suscipit nobis facere consequuntur recusandae dignissimos corporis, delectus aspernatur.