script(src="./scripts/jquery.min.js")

script(asinc, src=src.js+'lazyload.js')
script.
	jQuery( document ).ready( function () {
		jQuery( "img.lazy" ).lazy();
	} );

script(asinc, src=src.js+'main.js')

script(asinc, src=src.js+'superembed.js')

script(asinc, src=src.js+'rrssb.js')
script.
	jQuery(document).ready(function ($) {
		$( '#rrssb-buttons' ).rrssb({
			title: 'Заголовок',
			url: 'http://pstu.edu/',
			description: 'Описаение страницы',
			emailBody: 'the_excerpt()'
		});
	});

script(asinc, src=src.js+'blocksit.js')
script.
	( function () {
		function BlocksItInit ( obj ) {
			jQuery( obj ).BlocksIt( {
				numOfCol: 3,
				offsetX: 5,
				offsetY: 5,
				blockElement: jQuery( obj ).attr( 'data-block-element' ),
			} );
		}
		function GalleriesInit () {
			jQuery( '.gallery' ).each( function () {
				var $gallery = jQuery( this ),
						$imgs = $gallery.find( 'img.lazyload' );
				$imgs.unbind( 'load' ).on( 'load', function () {
					BlocksItInit ( $gallery );
				} );
				BlocksItInit ( $gallery );
			} );
		}
		jQuery( window ).load( GalleriesInit );
		jQuery( window ).resize( GalleriesInit );
	} )();

script(asinc, src=src.js+'slick.js')
script.
	jQuery( document ).ready( function () {

		// "Текущая тема"
		( function () {
			jQuery( '#current-slider' ).slick( {
				lazyLoad: 'ondemand',
				autoplay: true,
				autoplaySpeed: 2000,
				dots: false,
				infinite: true,
				speed: 300,
				centerMode: true,
				variableWidth: true
			} );
		} )();

		// люди
		( function () {
			jQuery( '#people-for' ).slick( {
				slidesToShow: 1,
				slidesToScroll: 1,
				arrows: false,
				fade: true,
				asNavFor: '#people-nav'
			} );
			jQuery( '#people-nav' ).slick( {
				slidesToShow: 1,
				slidesToScroll: 1,
				asNavFor: '#people-for',
				dots: false,
				centerMode: true,
				focusOnSelect: true,
				variableWidth: true
			} );
		} )();

		// проекты
		( function () {
			jQuery( '#projects-for' ).slick( {
				slidesToShow: 1,
				slidesToScroll: 1,
				arrows: false,
				fade: true,
				asNavFor: '#projects-nav'
			} );
			jQuery( '#projects-nav' ).slick( {
				slidesToShow: 1,
				slidesToScroll: 1,
				asNavFor: '#projects-for',
				dots: false,
				centerMode: true,
				focusOnSelect: true,
				variableWidth: true
			} );
		} )();

		// "Партнёры"
		( function () {
			jQuery( '#partners-slider' ).slick( {
				lazyLoad: 'ondemand',
				autoplay: true,
				autoplaySpeed: 2000,
				dots: true,
				infinite: true,
				speed: 300,
				slidesToShow: 1,
				centerMode: true,
				variableWidth: true
			} );
		} )();

	} );