script(src=src.js+'jquery.min.js')

script(asinc, src=src.js+'prism.js')

script(asinc, src=src.js+'lazyload.js')
script.
	jQuery( document ).ready( function () {
		jQuery( ".lazy" ).lazy();
	} );

script(asinc, src=src.js+'main.js')

script(asinc, src=src.js+'superembed.js')

script(asinc, src=src.js+'rrssb.js')
script.
	jQuery(document).ready(function ($) {
		$( '#rrssb-buttons' ).rrssb({
			title: 'Заголовок',
			url: 'http://pstu.edu/',
			description: 'Описаение страницы',
			emailBody: 'the_excerpt()'
		});
	});

script(asinc, src=src.js+'blocksit.js')
script.
	( function () {
		function BlocksItInit ( obj ) {
			jQuery( obj ).BlocksIt( {
				numOfCol: 3,
				offsetX: 5,
				offsetY: 5,
				blockElement: jQuery( obj ).attr( 'data-block-element' ),
			} );
		}
		function GalleriesInit () {
			jQuery( '.gallery' ).each( function () {
				var $gallery = jQuery( this ),
						$imgs = $gallery.find( 'img.lazy' );
				$imgs.unbind( 'load' ).on( 'load', function () {
					BlocksItInit ( $gallery );
				} );
				BlocksItInit ( $gallery );
			} );
		}
		jQuery( window ).load( GalleriesInit );
		jQuery( window ).resize( GalleriesInit );
	} )();

script(asinc, src=src.js+'slick.js')
script.
	jQuery( document ).ready( function () {

		// "похожие записи"
		( function () {
			jQuery( '#similar-slider' ).slick( {
				lazyLoad: 'ondemand',
				slidesToShow: 2,
				slidesToScroll: 1,
				autoplay: true,
				autoplaySpeed: 2000,
				centerMode: true,
				variableWidth: true,
				speed: 300,
				prevArrow: jQuery( '#similar-slider-arrow-prev' ),
				nextArrow: jQuery( '#similar-slider-arrow-next' ),
				dots: false,
			} );
		} )();

		// "первый экран"
		( function () {
			jQuery( '#jumbotron-slider' ).slick( {
				lazyLoad: 'ondemand',
				autoplay: true,
				autoplaySpeed: 3000,
				speed: 400,
				fade: true,
				dots: false,
				prevArrow: jQuery( '#jumbotron-slider-arrow-prev' ),
				nextArrow: jQuery( '#jumbotron-slider-arrow-next' ),
			} ).on( 'lazyLoaded', function ( e, slick, image, imageSource ) {
				imageSource = image.attr( 'src' );
				parentSlide = jQuery( image ).closest( '.jumbotron__entry.entry' );
				parentSlide.css( 'background-image', 'url("'+imageSource+'")' );
				image.attr('src',''); // remove source
			} );
		} )();

		// "Текущая тема"
		( function () {
			jQuery( '#current-slider' ).slick( {
				lazyLoad: 'ondemand',
				slidesToShow: 2,
				slidesToScroll: 1,
				autoplay: true,
				autoplaySpeed: 2000,
				centerMode: true,
				variableWidth: true,
				speed: 300,
				prevArrow: jQuery( '#current-slider-arrow-prev' ),
				nextArrow: jQuery( '#current-slider-arrow-next' ),
				dots: false,
			} );
		} )();

		// люди
		( function () {
			jQuery( '#people-slider-for' ).slick( {
				slidesToShow: 3,
				slidesToScroll: 1,
				speed: 400,
				arrows: false,
				fade: false,
				dots: false,
				asNavFor: '#people-slider-nav',
				centerMode: true,
				centerPadding: '60px',
				responsive: [
					{
						breakpoint: 1024,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 1,
						}
					},
					{
						breakpoint: 768,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
						}
					},
				],
			} );
			jQuery( '#people-slider-nav' ).slick( {
				slidesToShow: 1,
				slidesToScroll: 1,
				asNavFor: '#people-slider-for',
				dots: false,
				centerMode: true,
				focusOnSelect: true,
				variableWidth: true,
				arrows: true,
				prevArrow: jQuery( '#people-slider-arrow-prev' ),
				nextArrow: jQuery( '#people-slider-arrow-next' ),
			} );
		} )();

		// проекты
		( function () {
			jQuery( '#projects-slider-for' ).slick( {
				slidesToShow: 1,
				slidesToScroll: 1,
				autoplay: true,
				autoplaySpeed: 2000,
				arrows: true,
				fade: false,
				dots: true,
				prevArrow: jQuery( '#projects-slider-arrow-prev' ),
				nextArrow: jQuery( '#projects-slider-arrow-next' ),
				dotsClass: 'slider-dots',
				//- appendDots: jQuery( '#projects-slider-for' ).closest( '.section' ).find( '.section__basement' ),
			} );
		} )();

		// "Партнёры"
		( function () {
			jQuery( '#partners-slider' ).slick( {
				lazyLoad: 'ondemand',
				autoplay: true,
				autoplaySpeed: 2000,
				dots: true,
				dotsClass: 'slider-dots',
				infinite: true,
				speed: 300,
				slidesToShow: 1,
				centerMode: true,
				variableWidth: true,
				prevArrow: jQuery( '#partners-slider-arrow-prev' ),
				nextArrow: jQuery( '#partners-slider-arrow-next' ),
			} );
		} )();

	} );