script(src="./scripts/jquery.min.js")

script(asinc, src=src.js+'lazyload.js')
script.
	jQuery( document ).ready( function () {
		jQuery( "img.lazyload" ).lazy();
	} );

script(asinc, src=src.js+'main.js')

script(asinc, src=src.js+'superembed.js')

script(asinc, src=src.js+'rrssb.js')
script.
	jQuery(document).ready(function ($) {
		$( '#rrssb-buttons' ).rrssb({
			// required:
			title: 'Заголовок',
			url: 'http://pstu.edu/',
			// optional:
			description: 'Описаение страницы',
			emailBody: 'the_excerpt()'
		});
	});

script(asinc, src=src.js+'blocksit.js')
script.
	( function () {
		function BlocksItInit ( obj ) {
			jQuery( obj ).BlocksIt( {
				numOfCol: 3,
				offsetX: 5,
				offsetY: 5,
				blockElement: jQuery( obj ).attr( 'data-block-element' ),
			} );
		}
		function GalleriesInit () {
			jQuery( '.gallery' ).each( function () {
				var $gallery = jQuery( this ),
						$imgs = $gallery.find( 'img.lazyload' );
				$imgs.unbind( 'load' ).on( 'load', function () {
					BlocksItInit ( $gallery );
				} );
				BlocksItInit ( $gallery );
			} );
		}
		jQuery( window ).load( GalleriesInit );
		jQuery( window ).resize( GalleriesInit );
	} )();

script(asinc, src=src.js+'slick.js')
script.
	jQuery( '#important-entryes' ).slick( {
		prevArrow: '<button class="slick-arrow slick-prev"><i class="icon icon-left"></i></button>',
		nextArrow: '<button class="slick-arrow slick-next"><i class="icon icon-right"></i></button>',
		dots: true,
		dotsClass: 'slick-dots',
		lazyLoad: 'ondemand',
		autoplay: true,
		autoplaySpeed: 3000,
	} );