extend layout/_index
mixin steps_entry ( args )
	- args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit';
	- args.count = ( args.count ) ? args.count : 'X';
	- args.excerpt = ( args.excerpt ) ? args.excerpt : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint excepturi dolores, voluptatum error assumenda, deserunt, minima in labore commodi suscipit laborum aut, numquam ipsa libero illum aliquid voluptatibus? Repudiandae, nemo.';
	- args.thumbnail = ( args.thumbnail ) ? args.thumbnail : 'http://placehold.it/150x150/2ecc71/ecf0f1';
	a.steps__entry.entry( href="#", title=args.title )
		.count
			img.wp-post-image.lazy( src="#", data-src=args.thumbnail, alt=args.title )
			.number #{args.count}
		h3.title #{args.title}
		.excerpt: p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eveniet, placeat non, unde laborum debitis iusto quo commodi ullam delectus repudiandae, tenetur distinctio laboriosam beatae. Ad reiciendis earum impedit vero.
		//- .permalink: a( href="#", title=args.name ) Подробней
block variables
	- page.title = "Страница (steps)";
	- page.excerpt = "Шаблон страница с \"линейным\" списком подстраниц (page.php)";
	- page.type = "page";
block main
	.container
		.row
			.col-xs-12.col-sm-12.col-md-7.col-lg-8
				include parts/_info
				.entry-content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis molestiae earum porro harum magni maiores dignissimos expedita consectetur similique, sed velit? Laudantium alias modi corporis, pariatur nulla facilis animi vitae.
					p Odit minus, porro rem eligendi qui, odio culpa deserunt repellendus earum sapiente hic ipsam iure eveniet voluptas eaque? Perferendis id provident, maxime itaque exercitationem. Aspernatur adipisci nesciunt laudantium sit eligendi!
					p Fugiat amet similique doloremque quae fuga, possimus, reiciendis molestias, minima neque ea magnam facere odio ducimus asperiores esse voluptates ullam omnis dignissimos, obcaecati vel tenetur inventore totam quidem laboriosam sed.
					p Vel unde rerum iste qui dolor debitis harum alias et molestias odio placeat, quaerat sed, eaque. Perferendis sapiente distinctio, neque corrupti qui sequi sit aspernatur saepe, odit praesentium assumenda, labore.
				.steps
					.line
					+steps_entry ( { count: '1', thumbnail: src.img+'post_thumbnail_sm_01.jpg', } )
					+steps_entry ( { count: '2', thumbnail: src.img+'post_thumbnail_sm_02.jpg', } )
					+steps_entry ( { count: '3', thumbnail: src.img+'post_thumbnail_sm_03.jpg', } )
					+steps_entry ( { count: '4', thumbnail: src.img+'post_thumbnail_sm_04.jpg', } )
				ul.text-right.list-unstyled.font-italic
					li Опубликовано: <a href="#">admin</a> 20.06.2018
					li Обновлено: <a href="#">invitery</a> 21.06.2018
					li Ответственный: Иванов И.И. <a href="#">ivanov_i_i@pstu.edu</a>
				include components/_comments
			.col-xs-12.col-sm-12.col-md-5.col-lg-4: include asides/_right
	include parts/_current