//-
	Секция-слайдер главной страницы для вывода информации о проектах вуза. К примеру: ШАДР, Бизнес школа, BioArt ...

mixin projects_for_entry ( args )
	-
		args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit';
		args.excerpt = ( args.excerpt ) ? args.excerpt : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia reiciendis culpa dolor ex cupiditate quasi, magnam. Pariatur, molestiae, quaerat similique praesentium repellat incidunt nulla, doloribus soluta voluptatum molestias voluptate fugit.';
		args.thumbnail = ( args.thumbnail ) ? args.thumbnail : 'http://placehold.it/300x300/2ecc71/ecf0f1';
	.projects_for__entry.entry: .row
		.col-xs-12.col-sm-6.col-md-6.col-lg-6: img.wp-post-image( src="#", data-lazy=args.thumbnail, alt=args.title )
		.col-xs-12.col-sm-6.col-md-6.col-lg-6
			h3.title
			.excerpt: p #{args.excerpt}
			p: a.btn.btn-success( href="#" ) Подробней

mixin projects_nav_entry ( args )
	-
		args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit';
		args.thumbnail = ( args.thumbnail ) ? args.thumbnail : 'http://placehold.it/150x150/2ecc71/ecf0f1';
	button.projects_nav__entry.entry: img.wp-post-image( src="#", data-lazy=args.thumbnail, alt=args.title )

//
// PROJECTS start
section.projects#projects
	.section__heading.heading: .container: .col-xs-12.col-sm-12.col-md-12.col-lg-12
		h2.title Проекты
		p.desctiption Проекты Приазовского государственного технического университета
	.section__body.body: .container: .col-xs-12.col-sm-12.col-md-12.col-lg-12
		.people-for#projects-for
			+projects_for_entry ( {} )
			+projects_for_entry ( {} )
			+projects_for_entry ( {} )
			+projects_for_entry ( {} )
			+projects_for_entry ( {} )
		.projects-nav#projects-nav
			+projects_nav_entry ( {} )
			+projects_nav_entry ( {} )
			+projects_nav_entry ( {} )
			+projects_nav_entry ( {} )
			+projects_nav_entry ( {} )
// PROJECTS end
//