//-
//-
mixin widget( args )
	.widget
		if ( args.title )
			h3.widget__title
				i.icon.icon-quote
				span " " + args.title
		else
			h3.widget__title
				i.icon.icon-quote
				span &nbsp; Hello, world!
		if block
			block
		else
			p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
//-
//-
//-
mixin sharebtns( args )
	script(src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
	script(src="http://yastatic.net/share2/share.js")
	.share: .ya-share2(data-services="facebook,gplus,twitter,linkedin,pocket,viber,whatsapp")
//-
//-
//-
mixin links_list( args )
	each item in args.list
		li: a(href=item.url)!= item.text
//-
//-
//-
mixin list( args )
	each item in args
		li!= item
//-
//-
//-
mixin media ( args )
	-
		args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit';
		args.thumbnail = ( args.thumbnail ) ? args.thumbnail : 'http://placehold.it/100x100/2ecc71/ecf0f1';
		args.excerpt = ( args.excerpt ) ? args.excerpt : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum distinctio facere minima ducimus eos, et laudantium quaerat, iure quis unde eveniet nulla dolore fugit praesentium sapiente officiis cumque sit recusandae.';
	.media.clearfix
		.media-left.pull-left: a(href="#"): img.lazy.media-object.hidden-xs( src="#", data-src=args.thumbnail, alt=args.title )
		.media-body
			h4.media-heading #{args.title}
			div.excerpt: p #{args.excerpt}
			if ( block )
				block
//-
//-
//-
mixin flat_entry( args )
	-
		args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit';
		args.excerpt = ( args.excerpt ) ? args.excerpt : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia reiciendis culpa dolor ex cupiditate quasi, magnam. Pariatur, molestiae, quaerat similique praesentium repellat incidunt nulla, doloribus soluta voluptatum molestias voluptate fugit?';
		args.thumbnail = ( args.thumbnail ) ? args.thumbnail : 'http://placehold.it/300x200/2ecc71/ecf0f1';
	.col-xs-12.col-sm-6.col-md-6.col-lg-6: a( href="#", title=args.title ).important__entry.entry
		img.lazy( src="#", data-src=args.thumbnail )
		h3.title #{args.title}
		.excerpt: p #{args.excerpt}