//-
//-
mixin widget( args )
	.widget
		if ( args.title )
			h3.widget__title
				i.icon.icon-quote
				span= " " + args.title
		else
			h3.widget__title
				i.icon.icon-quote
				span &nbsp; Hello, world!
		if block
			block
		else
			p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
//-
//-
//-
mixin sharebtns( args )
	script(src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
	script(src="http://yastatic.net/share2/share.js")
	.share: .ya-share2(data-services="facebook,gplus,twitter,linkedin,pocket,viber,whatsapp")
//-
//-
//-
mixin links_list( args )
	each item in args.list
		li: a(href=item.url)!= item.text
//-
//-
//-
mixin list( args )
	each item in args
		li!= item
//-
//-
//-
mixin media ( args )
	-
		args.title = ( args.title ) ? args.title : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit';
		args.thumbnail = ( args.thumbnail ) ? args.thumbnail : 'http://placehold.it/100x100/2ecc71/ecf0f1';
		args.excerpt = ( args.excerpt ) ? args.excerpt : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum distinctio facere minima ducimus eos, et laudantium quaerat, iure quis unde eveniet nulla dolore fugit praesentium sapiente officiis cumque sit recusandae.';
	.media.clearfix
		.media-left.pull-left: a(href="#"): img.lazy.media-object.hidden-xs( src="#", data-src=args.thumbnail, alt=args.title )
		.media-body
			h4.media-heading #{args.title}
			div.excerpt: p #{args.excerpt}
			if ( block )
				block
//-
//-
//-
mixin entry ( args )
	-
		args.prefix = ( args.prefix ) ? args.prefix : "news";
		args.title = ( args.title ) ? args.title : "Lorem ipsum dolor sit amet, consectetur adipisicing elit";
		args.excerpt = ( args.excerpt ) ? args.excerpt : "Excepturi perferendis sequi aut consequatur ea iusto blanditiis neque placeat illo, est ipsam repellat accusantium, modi optio alias commodi praesentium eos molestias.";
	div( class=args.prefix + '__entry entry' )
		if ( args.thumbnail )
			a.center-block.text-center( href="#", title=args.title ): img.wp-post-image.attachment-medium( src=args.thumbnail )
		.overflow
			h3.entry__title.title: a( href="#" )= args.title
			ul.entry__tax.tax.list-unstyled.small
				li: .tags: ul.tags__list.list.list-unstyled.list-inline
					li: a(href="#") <i class="icon icon-tag"></i> Тег 1
					li: a(href="#") <i class="icon icon-tag"></i> Тег 2
					li: a(href="#") <i class="icon icon-tag"></i> Тег 3
					li: a(href="#") <i class="icon icon-tag"></i> Тег 4
					li: a(href="#") <i class="icon icon-tag"></i> Тег 5
				li: .category: ul.category__list.list.list-unstyled.list-inline
					li: a(href="#") <i class="icon icon-bookmark"></i> Категория 1
					li: a(href="#") <i class="icon icon-bookmark"></i> Категория 2
			.entry__excerpt.excerpt: p=args.excerpt
			.clearfix
				ul.small.list-unstyled.list-inline.pull-left
					li: b 20.06.2018
					li: a( href="#" ) admin
				a.btn.btn-default.pull-right( href="#" ) Подробней <i class="icon icon-more"></i>
//-
//-
//-
mixin lorem ()
	if block
		block
	else
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ducimus quasi, ipsum cupiditate odio alias. Ea, soluta dolore, expedita asperiores illo quam, officia facilis modi laboriosam mollitia quaerat consequatur ad.